<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h3>{{titlepage}}</h3>
        </div>
    </div>
</div>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-4 mt-4 mb-4" style="border: 2px solid lightgrey; padding: 50px; border-radius: 5px;">
                    <app-alerts *ngIf="trigeralerts"></app-alerts>
                    <div class="form-group has-icon"><i class="icon-lock"></i>
                        <input type="password" class="form-control form-control-md f-12" placeholder="Password Lama" #passwordlama>
                    </div>
                    <div class="form-group has-icon"><i class="icon-lock"></i>
                        <input type="password" class="form-control form-control-md f-12" placeholder="Password Baru"
                            #passwordbaru>
                    </div>
                    <div class="form-group has-icon"><i class="icon-lock"></i>
                        <input type="password" class="form-control form-control-md f-12" placeholder="Ulangi Password" #ulangipassword>
                    </div>
                    <button type="button" class="btn btn-success btn-md btn-block"
                        (click)="submit(passwordlama.value , passwordbaru.value, ulangipassword.value)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>