<div id="app">
    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <div class="page">
        <div class="has-sidebar-left">
            <div class="container-fluid animateOnce">
                <div class="animated my-3">
                    <router-outlet></router-outlet>
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
</div>  