<div class="col-md-12 text-center mt-2">
    <div class="card r-0 b-0 shadow">
        <div class="card-body">
            <label class="text-center ">copyright 2020</label>
        </div>
    </div>
</div>