<div class="sticky">
    <div class="d-lg-flex">
        <div class="relative indigo lighten-2 brand-wrapper">
            <div class="d-flex">
                <div class="text-xs-center">
                    <div class="w-80px mt-3 mb-3 ml-3">
                        <img src="../../../assets/template2/img/basic/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-fill">
            <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white">
                <div>
                    <a data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle">
                        <i></i>
                    </a>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown custom-dropdown messages-menu">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="icon-message "></i>
                                <span class="badge badge-success badge-mini rounded-circle">4</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <ul class="menu pl-2 pr-2">
                                        <li>
                                            <a>
                                                <div class="avatar float-left">
                                                    <img src="../../../assets/template2/img/dummy/u4.png" alt="">
                                                    <span class="avatar-badge busy"></span>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="icon icon-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="avatar float-left">
                                                    <img src="../../../assets/template2/img/dummy/u1.png" alt="">
                                                    <span class="avatar-badge online"></span>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="icon icon-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="avatar float-left">
                                                    <img src="../../../assets/template2/img/dummy/u2.png" alt="">
                                                    <span class="avatar-badge idle"></span>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="icon icon-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="avatar float-left">
                                                    <img src="../../../assets/template2/img/dummy/u3.png" alt="">
                                                    <span class="avatar-badge busy"></span>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="icon icon-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer s-12 p-2 text-center"><a>See All Messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown custom-dropdown notifications-menu">
                            <a class=" nav-link" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon-notifications "></i>
                                <span class="badge badge-danger badge-mini rounded-circle">4</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a>
                                                <i class="icon icon-data_usage text-success"></i> 5 new members joined
                                                today
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="icon icon-data_usage text-danger"></i> 5 new members joined
                                                today
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="icon icon-data_usage text-yellow"></i> 5 new members joined
                                                today
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer p-2 text-center"><a>View all</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link " data-toggle="collapse" data-target="#navbarToggleExternalContent"
                                aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <i class=" icon-search3 "></i>
                            </a>
                        </li>
                        <li class="dropdown custom-dropdown user user-menu ">
                            <a class="nav-link" data-toggle="dropdown">
                                <img src="../../../assets/template2/img/dummy/u8.png" class="user-image" alt="User Image">
                                <i class="icon-more_vert "></i>
                            </a>
                            <div class="dropdown-menu p-4 dropdown-menu-right">
                                <div class="row box justify-content-between my-4">
                                    <div class="col">
                                        <a>
                                            <i class="icon-star light-green lighten-1 avatar  r-5"></i>
                                            <div class="pt-1">Favourites</div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a>
                                            <i class="icon-save2 orange accent-1 avatar  r-5"></i>
                                            <div class="pt-1">Saved</div>
                                        </a>
                                    </div>
                                    <div class="col"  (click)="signout()">
                                        <a>
                                            <i class="icon-perm_data_setting grey darken-3 avatar  r-5"></i>
                                            <div class="pt-1">Sign Out</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>