<div id="primary" class="blue4 p-t-b-100 height-full responsive-phone">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../../assets/template2/img/icon/icon-plane.png" alt="">
            </div>
            <div class="col-lg-6 p-t-100">
                <div class="text-white">
                    <h1>Welcome Back</h1>
                    <p class="s-18 p-t-b-20 font-weight-lighter">Hey Soldier welcome back signin now there is lot of
                        new stuff waiting
                        for you</p>
                </div>
                <form >
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                                <input type="text" class="form-control form-control-lg no-b"
                                       placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group has-icon"><i class="icon-user-secret"></i>
                                <input type="text" class="form-control form-control-lg no-b"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-success btn-lg btn-block" (click)='signin()'>Sign In</button>
                            <p class="forget-pass text-white">Have you forgot your username or password ?</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>