<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
    <section class="sidebar">
        <div class="relative">
            <div class="user-panel p-3 user-panel-bg light text-white mb-2">
                <div class="mt-5
            ">
                    <div class="float-left avatar avatar-md  mt-2 mr-3 image">
                        <img src="../../../assets/template2/img/dummy/u2.png" alt="User Image" class="">
                    </div>
                    <div class="float-left info">
                        <h6 class="font-weight-light mt-2 mb-1">Alexander Pierce</h6>
                        <a><i class="icon-circle text-primary blink"></i> Online</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header"><strong>MAIN NAVIGATION</strong></li>
            <li class="treeview"><a>
                <i class="icon icon-dashboard2 s-18"></i> <span>Dashboard</span> 
            </a>
            </li>
            <li class="treeview"><a>
                <i class="icon icon icon-package s-18"></i>
                <span>Products</span>
            </a>
            </li>
            <li class="treeview"><a><i class="icon icon-account_box s-18"></i>Users</a>
            </li>
            <li class="treeview no-b"><a>
                <i class="icon icon-package light-green-text s-18"></i>
                <span>Inbox</span>
            </a>
            </li>
            <li class="header light mt-3"><strong>UI COMPONENTS</strong></li>
            <li class="treeview ">
                <a>
                    <i class="icon icon-package text-lime s-18"></i> <span>Apps</span>
                </a>
            </li>
            <li class="treeview">
                <a>
                    <i class="icon icon-documents3 text-blue s-18"></i> <span>Pages</span>
                </a>
            </li>
            <li class="treeview">
                <a>
                    <i class="icon icon-goals-1 amber-text s-18"></i> <span>Elements</span>
                </a>
            </li>
        </ul>
    </section>
</aside>