/* You can add global styles to this file, and also import other style files */
// @import './assets/template2/css/app.css';
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F8FA;
    z-index: 9998;
    text-align: center;
}

.plane-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.navbar {
    padding: 0rem 1rem !important;
}
.p-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.f-12{
    font-size: 12pt;
}
.f-10{
    font-size: 10pt;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-control:focus {
    box-shadow: none !important;
}
.brand-wrapper {
    height: 55px !important;
  }
  .form-control-lg {
    height: calc(2em + 1rem + 2px) !important;
    font-size: 1rem !important;
}
.modal-dialog {
    max-width: 600px !important;
}
input[type=number] {
    -moz-appearance:textfield !important;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
